[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ptvsd = "*"
python-json-logger = "*"
requests = "*"
pyyaml = "*"
ifaddr = "*"
rainbowhat = "*"
smbus = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
